<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>ADMIN Panel</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="/css/font-awesome.css">
  <!-- Custom stlylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <%-typeof tabulatorCss=="undefined" ? "" : tabulatorCss%>
    <%-typeof summernoteCss=="undefined" ? "" : summernoteCss%>
</head>

<body >

<header style="position: fixed;top: 0px;left:0px;width: 100%;right: 0px;z-index: 100;">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-2" href="/admin/dashboard">
        <img class="logo" src="<%=settings.website_image ? settings.website_image : " logo.png"%>" alt="Logo"
        style="height: 50px;width: 50px;">
        <span class="text-white fs-5 text-nowrap fw-bold">
          <%=settings.website_name ? settings.website_name  : "Admin Panel" %>
        </span>
      </a>
      <button class="navbar-toggler bg-white text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav-admin"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-warning"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav-admin">
        <ul class="navbar-nav ms-auto gap-3">
          <li class="nav-item ">
            <a class="nav-link px-4 py-1 rounded <% if(req.url=="/dashboard") { %> text-warning <% } else { %>
                text-white <% } %>" href="/admin/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 py-1 rounded <% if(req.url=="/artcle" || req.url =="/add-artcle") { %> text-warning <% } else { %> text-white
                <% } %>" href="/admin/artcle">Article</a>
          </li>
          <% if(role=="admin" ) { %>
            <li class="nav-item">
              <a class="nav-link px-4 py-1 rounded <% if(req.url=="/category" || req.url =="/add-category") { %> text-warning <% } else { %>
                  text-white <% } %>" href="/admin/category">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-4 py-1 rounded <% if(req.url=="/users" || req.url =="/add-user") { %> text-warning <% } else { %> text-white
                  <% } %>" href="/admin/users">Users</a>
            </li>
            <% } %>
              <li class="nav-item">
                <a class="nav-link px-4 py-1 rounded <% if(req.url=="/comments") { %> text-warning <% } else { %>
                    text-white <% } %>" href="/admin/comments">Comments</a>
              </li>
              <% if(role=="admin" ) { %>
                <li class="nav-item">
                  <a class="nav-link px-4 py-1 rounded <% if(req.url=="/settings") { %> text-warning <% } else { %>
                      text-white <% } %>" href="/admin/settings">Settings</a>
                </li>
                <% } %>
        </ul>
        <a href="/admin/logout" class="admin-logout btn btn-warning ms-auto">
          <i class="fa fa-sign-out"></i> Logout
        </a>
      </div>
    </div>
  </nav>
</header>

<div class=" pt-5 mt-5 bg-light">
  <!-- /Menu Bar -->
  <%-body %>
</div>
    <!-- Footer -->
    <div id="footer" style="background-color: #f2ece7;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="text-dark">
              <%=settings.website_description ? settings.website_description
                : "All rights reserved By Haresh Chaudhary &copy; 2025 " %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer -->

</body>

</html>