   <header>

  <nav class="navbar">
    <div class="container">
    <div class="nav-brand d-flex align-items-center justify-content-start gap-2">
            <div class="nav-logo">
            <img src="/uploads/<%=setting.website_image%>" alt="<%=setting.website_name%>" class="rounded-circle" style="width: 30px;height: 30px;">
            </div>
            <div class="logo">
                <span class="logo-text"><%=setting.website_name%></span>
                <div class="logo-shine"></div>
            </div>
        </div>
        <div class="nav-links">
             <a href='/' class="nav-link <%= (req.url === '/' ? 'active' : '')  %>">
             <span>Home</span>
             <div class="link-effect"></div>
            </a>
          <%category.forEach(element => {%>
          <a href='/category/<%=element.slug%>' class="nav-link <%= (req.url.includes(element.slug) ? 'active' : '')  %>">
            <span>
                 <%=element.name%>
            </span>
              <div class="link-effect"></div>
          </a>
          <% }); %>
        </div>
        <div class="d-lg-flex gap-3 d-none">
         <a href="/contact-us" class="git-button py-2 px-3" id="openContact">
            <i class="fa fa-envelope mr-2 text-white"></i>
            <span>Contact</span>
         </a>
         <a href="https://github.com/Hareschaudhary/my-project" class="git-button py-2 px-3">
            <i class="fab fa-github mr-2 text-white"></i>
            <span>Git Hub</span>
         </a>
        </div>
        <button class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    </nav>
    <!-- mobile menu -->
    <div class="mobile-menu " style="z-index: 9999;">
        <div class="menu-header d-flex">
                <div class="nav-logo">
            <img src="/uploads/<%=setting.website_image%>" alt="<%=setting.website_name%>" class="rounded-circle" style="width: 30px;height: 30px;">
            </div>
            <div class="logo">
                <span class="logo-text"><%=setting.website_name%></span>
            </div>
                <button class="mobile-toggle btn  btn-close text-white border border-1 border-white">
                    <i class="fas fa-times  fs-4"></i>
                </button>
        </div>
        <div class="menu-links">
            <a href="/" class="menu-link <%= (req.url === '/' ? 'active' : '')  %>">
                <span>Home</span>
            </a>
           <%category.forEach(element => {%>
          <a href='/category/<%=element.slug%>' class="menu-link <%= (req.url.includes(element.slug) ? 'active' : '')  %>">
            <span>
                 <%=element.name%>
            </span>
          </a>
          <% }); %>
          <div class="d-flex gap-2">
          <button class="git-button py-2 px-3 w-50">
            <i class="fa fa-envelope mr-2 text-white"></i>
            <span>Contact</span>
        </button>
         <button class="git-button py-2 px-3 w-50">
            <i class="fa fa-github mr-2 text-white"></i>
            <span>Git Hub</span>
        </button>
          </div>
        </div>
       
    </div>
    </header>